<li>
  <a href="https://orcid.org/{{ site.social.orcid }}" target="_blank" rel="noopener noreferrer" aria-label="ORCID Profile">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 256 256" style="display: block;">
      <g>
        <circle fill="#A6CE39" cx="128" cy="128" r="128"/>
        <g>
          <path fill="#FFF" d="M86.1,187.5h-21V96.7h21V187.5z"/>
          <path fill="#FFF" d="M75.6,85.4c-6.8,0-12.3-5.5-12.3-12.4c0-6.8,5.5-12.3,12.3-12.3c6.8,0,12.3,5.5,12.3,12.3
            C87.9,79.9,82.4,85.4,75.6,85.4z"/>
          <path fill="#FFF" d="M117.3,96.7h20.1v12.4h0.3c2.8-5.3,9.8-13.8,22.1-13.8c23.7,0,28.1,15.6,28.1,35.8v56.5h-21v-50.2
            c0-12-0.2-27.5-16.8-27.5c-16.8,0-19.3,13.1-19.3,26.7v51h-21V96.7z"/>
        </g>
        <rect x="179.6" y="96.7" width="21" height="90.8" fill="#FFF"/>
      </g>
      <text x="143" y="75" font-size="32" font-family="Arial,sans-serif" fill="#FFF" font-weight="bold" text-anchor="middle" alignment-baseline="central">iD</text>
    </svg>
  </a>
</li>
